<header>
    <div class="logo">
        <a href="./index.html" title="На главную">
            <img src="./img/logo.svg" alt="Логотип По Пути">
        </a>
    </div>
    <nav class="header-nav">
        <ul class="header-nav__menu">
            <li class="header-nav__item">
                <a href="#">
                    О приложении
                </a>
            </li>
            <li class="header-nav__item">
                <a href="#">
                    Функции
                </a>
            </li>
            <li class="header-nav__item">
                <a href="#">
                    Партнёры
                </a>
            </li>
            <li class="header-nav__item">
                <a href="#">
                    Отзывы
                </a>
            </li>
            <li class="header-nav__item">
                <a href="#">
                    Достижения
                </a>
            </li>
        </ul>
    </nav>
</header>