:root {
  --blue: #4900e4;
  --magenta: #ec4f89;
  --orange: #ff9933;
  --yellow: #ffd15c;
  --grey: #F4F5FA;
  --dark-grey: #E0E1E6;

  --btn-radius: 50px;
  --desk-radius: 20px;
  --mobile-radius: 12px;

  --desk-card-padding: 24px;
  --mobile-card-padding: 16px;

  --desk-block-margin: 150px;
  --tablet-block-margin: 120px;
  --mobile-block-margin: 80px;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  color: #050505;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

p {
  line-height: 130%;
}

a {
  cursor: pointer;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 42px;
  font-weight: 600;
  
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

.container {
  margin: 0 auto;
  width: 1202px;
}

/*------------header-------------*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey);
  position: fixed;
  width: 100%;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
}

.header-nav__menu {
  display: flex;
  column-gap: 20px;
}

nav ul li a{
  transition: .2s ease;
}

nav ul li a:hover{
  /* color: var(--magenta); */
  font-weight: 600;
}

/*------------main-------------*/

main {
  display: flex;
  flex-direction: column;
  row-gap: var(--desk-block-margin);
}

/*------------hero-------------*/

.hero-block {
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: -80px;
}

.hero-block__animation{
  height: 320px;
}


.section__text {
  font-size: 20px;
  text-align: center;
  max-width: 250px;
}

/*------------cta-------------*/

.cta {
  row-gap: 32px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/*------------blocks-------------*/

.blocks-row {
  display: flex;
  column-gap: 10px;
  margin-bottom: 32px;
}

.block {
  border-radius: var(--desk-radius);
  background: var(--grey);
  display: flex;
  overflow: hidden;
  /* justify-content: space-between; */
  height: 400px;
  position: relative;
  padding: var(--desk-card-padding);
}

.block__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.block_small {
  width: 293px;
}

.block__title {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 110%;
  position: relative;
}

.block__text {
  opacity: 0.8;
  line-height: 130%;
}

.block__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.btn {
  border-radius: var(--btn-radius);
  background-color: #fff;
  display: block;
  padding: 14px 24px;
  text-align: center;
  width: 100%;
  font-weight: 600;
  width: fit-content;
  transition: color .2s ease, background-color .2s ease;
  cursor: pointer;
}

.block_medium {
  width: 596px;
  flex-direction: column;
}

.block_magenta {
  background-color: var(--magenta);
  color: #fff;
  flex-direction: row;
}

.block_magenta .block__info {
  width: 65%;
}

.block_orange {
  background-color: var(--orange);
  color: #fff;
}

.block__title_magenta {
  color: var(--magenta);
}

.block__title_colored {
  opacity: .6;
}


.block_img {
  position: absolute;
  width: 360px;
  top: -20px;
  right: -60px;
}

.block__img_small {
  margin-top: 20px;
  width: 300px;
}

.block__socials {
  display: flex;
  column-gap: 10px;
}

.block__socials a:hover {
  background-color: rgba(255, 255, 255, .5);
}

.block__socials a {
  display: flex;
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
}

.block_large {
  width: 100%;
}

.block_big {
  flex-direction: column;
  row-gap: 20px;
  width: 390px;
  height: 520px;
  /* justify-content: end; */
}

.block_big img {
  height: 300px;
  object-fit: cover;
}

.block_telegram {
  background: rgb(42, 171, 238);
  background: linear-gradient(300deg, rgba(42, 171, 238, 1) 0%, rgba(34, 158, 217, 1) 100%);
  color: #fff;
  height: 420px;
}

.panel {
  background-color: #fff;
  border-radius: var(--desk-radius);
  padding: 42px 42px 64px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  row-gap: 16px;
}

/*------btns---------*/

.btn_magenta {
  border: 2px solid var(--magenta);
  background-color: var(--magenta);
  color: #fff;
}

.btn_magenta:hover {
  background-color: #fff;
  color: var(--magenta);
}

.btn_orange {
  color: #050505;
}

.btn_blue {
  background-color: var(--blue);
  color: #fff;
  transition: background-color .2s ease;
}

.btn_blue:after {
  content: url("../img/arrow-white.svg");
  margin-left: 4px;
}

.btn_blue:hover {
  background-color: rgba(73, 0, 228, 0.5);
}

.btn_with-icon:after {
  content: url("../img/arrow.svg");
  margin-left: 4px;
}

.btn_with-icon:hover {
  background-color: rgba(255, 255, 255, .5);
  color: #fff;
}

.btn_with-icon:hover:after {
  content: url("../img/arrow-white.svg");
}

.btn_telegram {
  align-items: center;
  display: flex;
  column-gap: 16px;
  padding: 8px 8px 8px 24px;
  color: #050505;
  transition: .2s ease;
}

.btn_telegram:hover {
  background-color: rgba(255, 255, 255, .5);
  color: #fff;
}

.btn_telegram:after {
  content: url("../img/telegram.svg");
  padding-top: 2px;
}


/*------------about-------------*/
.about {
  display: flex;
  justify-content: space-between;
  width: 960px;
  align-items: center;
}

.about p {
  width: 450px;
}

.section__title{
  margin-bottom: 48px;
}

.section__sub-title {
  font-size: 24px;
  font-weight: 600;
  width: 350px;
  position: relative;
}

.steps {
  display: flex;
  column-gap: -4px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 -3px;
}

.steps__text {
  width: 170px;
  text-align: center;
  margin-top: 20px;
}

/*----------svg--------------*/

#line1 {
  position: absolute;
  top: -35%;
  left: -5%;
  z-index: -1;
}

#line2 {
  position: absolute;
  bottom: -20%;
  right: 45%;
}

#line3 {
  position: absolute;
  right: 10%;
  top: -50%;
}

#line4 {
  position: absolute;
  top: 50%;
  right: 15%;
}

#line5 {
  position: absolute;
  bottom: -15%;
  left: 0;
}

svg path {
  stroke-dasharray: 1040;
  stroke-dashoffset: 1040;
  fill: transparent;
  transition: stroke-dashoffset 3s ease;
}

svg path.animate {
  stroke-dashoffset: 0;
}

#lottie-animation {
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: -1; */
}


.section__btn_with-icon {
  color: #fff;
  background-color: var(--blue);
}

.section__btn_with-icon:after {
  content: url("../img/arrow-white.svg");
  margin-left: 4px;
}

/*---------form-------------*/

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  background-color: #fff;
  border-radius: var(--desk-radius);
  padding: 24px;
}

.form__inputs{
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.block_form .block__text{
  width: 65%;
}

.block_form{
  height: 420px;
  width: 900px;
  position: relative;
  margin-bottom: 100px;
}

.block_form dotlottie-player{
  position: absolute;
  bottom: -40%;
  left: -25%;
}

.block_form form{
  z-index: 1;
}

.block_benefit{
  height: 370px;
  /* width: 900px; */
  position: relative;
}

.block_benefit dotlottie-player{
  position: absolute;
  top: -10%;
  left: -5%;
}

.box-input__error-text{
  font-size: 14px;
  color: var(--magenta);
  margin-top: 6px;
  visibility: hidden;
}

.recover a{
  color: var(--blue);
}

.recover .btn{
  width: 100%;
}

.recover{
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

label[for='ckbox'] {
	cursor: pointer;
	padding-left: 35px;
	display: block;
	position: relative;
	font-size: 14px;
}

#ckbox+label::before {
	content: '';
	position: absolute;
	border: 2px solid var(--magenta);
	width: 18px;
	height: 18px;
	top: 0;
	left: 0;
	border-radius: 3px;
	transition: 0.2s;
}

#ckbox:checked+label::before {
	border-top: 2px solid transparent;
	border-left: 2px solid transparent;
	border-right: 2px solid var(--blue);
	border-bottom: 2px solid var(--blue);
	transform: rotate(40deg);
	width: 12px;
	height: 22px;
	transform-origin: 100% 100%;
	top: -4px;
	left: -5px;
}

#ckbox:not(:checked),
#ckbox:checked {
	display: none;
}

.box-input {
	position: relative;
}

.box-input input {
	border: 2px solid var(--dark-grey);
  border-radius: 8px;
	padding: 12px;
  width: 100%;
}

.box-input label {
	position: absolute;
	top: 0;
	left: 0;
  margin: 13px;
	color: #979797;
	transition: .5s;
	pointer-events: none;
  background-color: #fff;
}

.box-input input:focus~label,
.box-input input:valid~label{
	font-size: 14px;
	top: -24px;
  padding: 6px;
}

.socials p{
  margin-bottom: 16px;
}

.socials__links{
  display: flex;
  column-gap: 10px;
}

.socials__links a{
  display: flex;
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 12px;
  transition: .2s ease;
}

.socials__links a:hover{
  background-color: rgba(255, 255, 255, .5);
}

.socials__links a img{
  width: 100%;
}

/*---------footer-------------*/

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.footer-nav__menu{
  display: flex;
  column-gap: 20px;
}

footer .socials__links a{
  width: 32px;
  height: 32px;
  border-radius: 8px;
  padding: 4px;
  transition: opacity .2s ease;
}

footer .socials__links a:hover{
  opacity: 0.5;
}

.partners {}

.partners-item {}

.partners-item__top {}

.partners-item__title {}

.partners-item__sub-title {}

.partners-item__img {}

.partners-item__text {}

.partners-item__link {}






/* @media (max-width: 1160px) {
  
}
@media (max-width: 680px) {
  
}
@media (max-width: 360px) {
  
} */