:root {
  --blue: #4900e4;
  --magenta: #ec4f89;
  --orange: #ff9933;
  --yellow: #ffd15c;
  --grey: #F4F5FA;
  --dark-grey: #E0E1E6;
  --ligh-text: #979797;
  --black: #050505;

  --btn-radius: 50px;
  --desk-radius: 20px;
  --mobile-radius: 12px;

  --desk-card-padding: 24px;
  --mobile-card-padding: 16px;

  --desk-block-margin: 150px;
  --tablet-block-margin: 120px;
  --mobile-block-margin: 80px;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  color: var(--black);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

p {
  line-height: 130%;
}

a {
  cursor: pointer;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 42px;
  font-weight: 600;

}

h3 {
  font-size: 24px;
  font-weight: 600;
}

.container {
  margin: 0 auto;
  width: 1202px;
}

/*------------header-------------*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey);
  position: fixed;
  width: 100%;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
}

.header-nav__menu {
  display: flex;
  column-gap: 20px;
}

nav ul li a {
  transition: .2s ease;
}

nav ul li a:hover {
  /* color: var(--magenta); */
  font-weight: 600;
}

.burger-btn {
  display: none;
}

/*------------main-------------*/

main {
  display: flex;
  flex-direction: column;
  row-gap: var(--desk-block-margin);
}

/*------------hero-------------*/

.hero-block {
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: -80px;
}

.hero-block__animation {
  height: 320px;
  /* width: 100vw; */
}


.section__text {
  font-size: 20px;
  text-align: center;
  max-width: 250px;
}

/*------------cta-------------*/

.cta {
  row-gap: 32px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/*------------blocks-------------*/

.blocks-row {
  display: flex;
  column-gap: 10px;
  margin-bottom: 32px;
}

.blocks {
  display: flex;
  gap: 10px;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.block {
  border-radius: var(--desk-radius);
  background: var(--grey);
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  gap: 40px;
  height: 400px;
  position: relative;
  padding: var(--desk-card-padding);
}

.block__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.block_small {
  width: 293px;
}

.block__title {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 110%;
  position: relative;
}

.block__text {
  opacity: 0.8;
  line-height: 130%;
  transition: all .2s ease;
}

.block__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.btn {
  border-radius: var(--btn-radius);
  background-color: #fff;
  display: block;
  padding: 14px 24px;
  text-align: center;
  width: 100%;
  font-weight: 600;
  width: fit-content;
  transition: color .2s ease, background-color .2s ease;
  cursor: pointer;
}

.block__btns {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.block_medium {
  width: 596px;
  flex-direction: column;
}

.block_narrow {
  height: 300px;
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  transition: .2s ease;
}

/* .block_narrow:hover {
  color: #fff;
  background-color: var(--blue);
} */

.block_narrow:hover .block__title:after {
  content: url("../img/arrow-blue.svg");
  position: absolute;
  top: 0;
  right: 0;
  transition: .2s ease;
}

.block_narrow img {
  width: 45%;
  object-fit: cover;
}

/* .block_narrow .block__title:after {
  content: url("../img/arrow-blue.svg");

} */

.block_magenta {
  background-color: var(--magenta);
  color: #fff;
  flex-direction: row;
}

.block_blue {
  background-color: var(--blue);
  color: #fff;
}

.block_magenta .block__info {
  width: 65%;
}

.block_orange {
  background-color: var(--orange);
  color: #fff;
}

.block__title_magenta {
  color: var(--magenta);
}

.block__title_colored {
  opacity: .6;
}


.block_img {
  position: absolute;
  width: 360px;
  top: -5%;
  right: -10%;
}

.block__img_small {
  margin-top: 20px;
  width: 300px;
}

.block__socials {
  display: flex;
  column-gap: 10px;
}

.block__socials a:hover {
  background-color: rgba(255, 255, 255, .5);
}

.block__socials a {
  display: flex;
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
}

.block_large {
  width: 100%;
}

.block_big {
  flex-direction: column;
  row-gap: 20px;
  width: 390px;
  height: 520px;
}

.block_big img {
  height: 300px;
  align-self: center;
}

.block_telegram {
  background: rgb(42, 171, 238);
  background: linear-gradient(300deg, rgba(42, 171, 238, 1) 0%, rgba(34, 158, 217, 1) 100%);
  color: #fff;
  height: 420px;
}

.panel {
  background-color: #fff;
  border-radius: var(--desk-radius);
  padding: 42px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 600px;
  margin: 20px auto;
  row-gap: 16px;
}

.panel .block__text {
  width: 400px;
}

/*------btns---------*/

.btn_magenta {
  border: 2px solid var(--magenta);
  background-color: var(--magenta);
  color: #fff;
}

.btn_magenta:hover {
  background-color: #fff;
  color: var(--magenta);
}


.btn_blue {
  background-color: var(--blue);
  color: #fff;
  transition: background-color .2s ease;
}

.btn_blue:after {
  content: url("../img/arrow-white.svg");
  margin-left: 4px;
}

.btn_blue:hover {
  background-color: rgba(73, 0, 228, 0.5);
}

.btn_with-icon:after {
  content: url("../img/arrow.svg");
  margin-left: 4px;
}

.btn_with-icon:hover {
  background-color: rgba(255, 255, 255, .5);
  color: #fff;
}

.btn_with-icon:hover:after {
  content: url("../img/arrow-white.svg");
}

.btn_with-icon {
  color: var(--black);
}

.btn_telegram {
  align-items: center;
  display: flex;
  column-gap: 16px;
  padding: 8px 8px 8px 24px;
  color: var(--black);
  transition: .2s ease;
}

.btn_telegram:hover {
  background-color: rgba(255, 255, 255, .5);
  color: #fff;
}

.btn_telegram:after {
  content: url("../img/telegram.svg");
  padding-top: 2px;
}


/*------------about-------------*/
.about {
  display: flex;
  justify-content: space-between;
  width: 960px;
  align-items: center;
}

.about p {
  width: 450px;
}

.section__title {
  margin-bottom: 48px;
  text-align: center;
}

.section__title~a {
  margin-top: -22px;
  margin-bottom: 32px;
}

.section__sub-title {
  font-size: 24px;
  font-weight: 600;
  width: 350px;
  position: relative;
}

.steps {
  display: flex;
  column-gap: -4px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners__text {
  width: 500px;
  text-align: center;
  margin: -30px 0 48px;
}

.steps__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 -3px;
}

.steps__text {
  width: 170px;
  text-align: center;
  margin-top: 20px;
}

/*----------svg--------------*/

#line1 {
  position: absolute;
  top: -35%;
  left: -5%;
  z-index: -1;
}

#line2 {
  position: absolute;
  bottom: -20%;
  right: 45%;
}

#line3 {
  position: absolute;
  right: 10%;
  top: -50%;
}

#line4 {
  position: absolute;
  top: 50%;
  right: 15%;
}

#line5 {
  position: absolute;
  bottom: -15%;
  left: 0;
}

svg path {
  stroke-dasharray: 1040;
  stroke-dashoffset: 1040;
  fill: transparent;
  transition: stroke-dashoffset 3s ease;
}

svg path.animate {
  stroke-dashoffset: 0;
}

#lottie-animation {
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: -1; */
}


.section__btn_with-icon {
  color: #fff;
  background-color: var(--blue);
}

.section__btn_with-icon:after {
  content: url("../img/arrow-white.svg");
  margin-left: 4px;
}

/*---------form-------------*/

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  background-color: #fff;
  border-radius: var(--desk-radius);
  padding: 24px;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.block_form .block__text {
  width: 65%;
}

.block_form {
  height: 420px;
  width: 900px;
  position: relative;
  margin-bottom: 100px;
}

.block_form dotlottie-player {
  position: absolute;
  bottom: -40%;
  left: -25%;
}

.block_form form {
  z-index: 1;
}

.block_benefit {
  height: 370px;
  /* width: 900px; */
  position: relative;
}

.block_benefit dotlottie-player {
  position: absolute;
  top: -10%;
  left: -5%;
}

.box-input__error-text {
  font-size: 14px;
  color: var(--magenta);
  margin-top: 6px;
  visibility: hidden;
}

.recover a {
  color: var(--blue);
}

.recover .btn {
  width: 100%;
}

.recover {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

label[for='ckbox'] {
  cursor: pointer;
  padding-left: 35px;
  display: block;
  position: relative;
  font-size: 14px;
}

#ckbox+label::before {
  content: '';
  position: absolute;
  border: 2px solid var(--magenta);
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  border-radius: 3px;
  transition: 0.2s;
}

#ckbox:checked+label::before {
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid var(--blue);
  border-bottom: 2px solid var(--blue);
  transform: rotate(40deg);
  width: 12px;
  height: 22px;
  transform-origin: 100% 100%;
  top: -4px;
  left: -5px;
}

#ckbox:not(:checked),
#ckbox:checked {
  display: none;
}

.box-input {
  position: relative;
}

.box-input input {
  border: 2px solid var(--dark-grey);
  border-radius: 8px;
  padding: 12px;
  width: 100%;
}

.box-input label {
  position: absolute;
  top: 0;
  left: 0;
  margin: 13px;
  color: var(--ligh-text);
  transition: .5s;
  pointer-events: none;
  background-color: #fff;
}

.box-input input:focus~label,
.box-input input:valid~label {
  font-size: 14px;
  top: -24px;
  padding: 6px;
}

.socials p {
  margin-bottom: 16px;
}

.socials__links {
  display: flex;
  column-gap: 10px;
}

.socials__links a {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 6px;
  transition: .2s ease;
}

.socials__links a:hover {
  background-color: rgba(255, 255, 255, .5);
}

.socials__links a img {
  width: 100%;
}

/*---------footer-------------*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.footer-nav__menu {
  display: flex;
  column-gap: 20px;
}

footer .socials__links a {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  padding: 4px;
  transition: opacity .2s ease;
}

footer .socials__links a:hover {
  opacity: 0.5;
}

/*--------mass-media--------------*/

.mass-media-img {
  border-radius: var(--mobile-radius);
}

.author-img {
  width: 55px;
}

.block_review {
  row-gap: 10px;
  justify-content: start;
  height: 240px;
  transition: all .2s ease;
}

.show-more {
  color: var(--blue);
  cursor: pointer;
}

.block_review .block__text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.block_review.show .block__text {
  text-overflow: none;
  overflow: visible;
  display: flex;
  -webkit-line-clamp: none;
}

.block_review.show {
  height: fit-content;
}

.block_review .block__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  column-gap: 16px;
}

.block_review .block__header {
  row-gap: 4px;
}

.block__secondary-text {
  font-size: 14px;
  color: var(--ligh-text);
}



.item__title {
  font-weight: 600;
  margin-bottom: 4px;
}


.item__subtitle {
  font-size: 14px;
  font-weight: 400;
  /* width: 200px; */
}

.item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 8px;
  margin-bottom: 8px;
}

.item__link {
  font-weight: 600;
  color: var(--blue);
}

.item__link:after {
  content: url("../img/arrow-blue.svg");
  margin-left: 4px;
}

/* Работа с анимацией карточек и карточки партнеров */

.wrap {
  max-width: 100%;
  margin: 10px auto;
}

.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 20px 0;
  user-select: none;
  column-gap: 20px;
}


.items {
  flex-shrink: 0;
  display: flex;
  column-gap: 20px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}

.item {
  background-color: var(--grey);
  flex: 0 0 auto;
  width: 350px;
  height: 213px;
  counter-increment: item;
  border-radius: var(--desk-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: left; */
  /* font-size: 25px; */
  /* font-weight: bold; */
  color: var(--black);
  /* margin: 10px 0; */
  transition: all 0.1s ease-in-out;
  padding: var(--desk-card-padding);
}

.item:hover {
  transform: scale(1.05);
  /* z-index: 1; */
  /* position: absolute; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
}

.items--marquee {
  animation: scroll 30s linear infinite;
}

.items--reverce {
  animation-direction: reverse;
}

.items-wrap:hover .items--marquee {
  animation-play-state: paused;
}

.perfscan {
  margin: 20px 0;
  text-align: center;
  bottom: 0;
  background: #fff;
  padding: 5px;
}

/* .perfscan hr {
  border: solid #999;
  border-width: 1px 0 0 0;
  max-width: 50%;
  margin: 0 auto 20px;
}

.perfscan a {
  color: var(--black);
  font-weight: bold;
} */

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 20px));
  }
}


/*------burger--------*/



.burger-menu {
  color: var(--black);
  position: absolute;
  background-color: #FFFFFF;
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: 0.3s ease-in-out;
  top: 52px;
}
/* .burger-menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}
.burger-menu__nav-wrapper {
  flex: 1 1 auto;
}
.burger-menu__nav {
  border-bottom: 1px solid #D4D4D4;
  padding: 8px 0;
}
.burger-menu__nav-item {
  padding: 8px;
}
.burger-menu__nav-title {
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 8px;
}
.burger-menu__social-links {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}
.burger-menu__bottom {
  padding-top: 8px;
  border-top: 1px solid #D4D4D4;
  color: #B7B7B7;
  font-size: 0.8em;
  line-height: 1.2em;
}
.burger-menu .header-btns {
  padding: 8px 0px;
  justify-content: flex-start;
  flex-wrap: wrap;
  display: none;
} */

.menu-active {
  transform: translateX(0px);
}



@media (max-width: 1220px) {

  h1 {
    font-size: 36px;
  }

  .block {
    padding: var(--mobile-card-padding);
  }

  .container {
    width: 740px;
  }

  main {
    row-gap: var(--tablet-block-margin);
  }

  .blocks-row {
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
  }

  .cta {
    gap: 0px;
  }

  .panel {
    width: 550px;
    padding: 32px 42px 64px 42px;
    height: fit-content;
  }

  #line2 {
    right: 50%;
  }

  #line3 {
    right: 5%;
  }

  .block_big,
  .block_small,
  .block_narrow,
  .block_review {
    width: calc(50% - 5px);
  }

  .block_magenta,
  .block_form {
    order: -1;
    width: 100%;
  }

  .block_form {
    margin-bottom: 0;
  }


  .block_img {
    top: -10%;
    right: -5%;
  }

  .block_big:first-child {
    width: 100%;
    flex-direction: row;
    height: 300px;
  }

  .block_big:first-child img {
    height: 100%;
  }

  #possibilities .block_medium {
    width: 100%;
    gap: 0px;
  }

  #possibilities .block_medium .block__text {
    width: 80%;
  }

  .block_form .block__text {
    width: 100%;
  }

  .block_form form {
    width: 700px;
  }

  .block_form h2 {
    font-size: 36px;
  }

  .hero-block {
    width: 100%;
  }


  .hero-block__animation dotlottie-player {
    width: 1280px;
  }

  .block_narrow {
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    height: 480px;
  }

  .block_narrow img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }

  .block_narrow .block__title:after {
    content: url("../img/arrow-blue.svg");
  }

  #achievements div.block_medium {
    width: 740px;
  }

  .block__title:after {
    display: none;
  }

  footer {
    flex-direction: column;
    row-gap: 30px;
  }

  footer .logo {
    margin-bottom: -14px;
  }

  .block_telegram {
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
  }

  .block_telegram .block__info {
    flex-direction: row;
  }

  .block_telegram .block__header {
    width: 50%;
  }

  #achievements .block_small {
    height: 300px;
  }
}

.burger-btn {
  display: none;
  cursor: pointer;
}

@media (max-width: 767px) {

  main {
    gap: var(--mobile-block-margin);
  }

  header .container {
    margin: 0px auto;
}

  .header-nav {
    display: none;
  }

  .section__text {
    font-size: 16px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 21px;
  }

  .burger-btn {
    display: block;
  }

  .container {
    width: 100%;
    padding: 2px 8px;
  }

  .block {
    border-radius: var(--mobile-radius);
    padding: var(--mobile-card-padding);
  }


  .hero-block__animation {
    height: 1%;
    /* width: 100vw; */
  }

  .hero-block__animation dotlottie-player {
    width: 960px;
  }

  .block_magenta .block__text {
    display: none;
  }

  .block_magenta .block__info {
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 16px;
  }

  .block__info {
    width: 85%;
  }

  .block_magenta .block__header {
    width: 400px;
  }

  .block_magenta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 16px;
    height: 420px;
  }

  .block_img {
    position: static;
    object-fit: cover;
    object-position: top center;
    align-self: center;
    order: -1;
    width: 270px;
    height: 300px;
    top: -8%;
    left: 25%;
  }

  .block_small {
    width: 100%;
    height: 260px;
  }

  img.block_large {
    height: 260px;
    width: 100%;
    object-fit: cover;
    border-radius: var(--mobile-radius);
  }


  .about {
    flex-direction: column;
    padding: 8px;
    gap: 16px;
  }

  .about p {
    width: 80%;
    text-align: center;
  }
}

@media (max-width: 430px) {
  .block_small {
    height: fit-content;

  }

  .about p {
    width: 100%;
    text-align: left;
  }

  .block__info {
    width: 100%;
  }

  .block__header {
    gap: 8px;
    width: 100%;
  }


  .block_small .block__info {
    gap: 16px;
  }
}

@media (min-width: 1520px) {
  .hero-block__animation {
    width: 100vw;
    height: fit-content;
  }
}